
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: black;
}
.container{
  max-width: 1200px;
  background-color: grey;
  margin: 100px auto 50px auto;
  padding-bottom: 50px;
}
.heading{
  background-color:rgb(78, 76, 76);
  height: 170px;
}
.heading h1{
  color:wheat;
  padding-left: 50px;
  padding-top: 50px;
}
.select{
  margin: 50px 0px 10px 0px;
  padding-left: 50px;
}

.name{
  font-size: 20px;
  font-weight: 500;
}
.form-control{
  height:30px;
   width:300px; 
    margin: 20px 0px 20px 50px;
    font-size: 20px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer{
  max-width: 1200px;
  color: black;
  background-color: rgb(78, 76, 76);
  margin: 40px auto 0px auto;
  text-align: center;
  /* height: 90px; */
  font-size: 12px;
  padding: 5px;
}